<!-- @format -->

<!DOCTYPE html>
<html>
  <head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}
    </style>
  </head>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
          <img src="https://avatars.githubusercontent.com/u/32229165?v=4" style="width:100%" alt="Avatar">
          <div class="w3-display-bottomleft w3-container w3-text-white">
            <h2>Tulsidas Chelmella</h2>
          </div>
        </div>
        <div class="w3-container">
          <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Python Developer</p>
          <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>Indianapolis, IN</p>
          <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>tulsi.das1404@gmail.com</p>
          <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>8122363132</p>
          <p><i class="fa fa-address-card fa-fw w3-margin-right w3-large w3-text-teal"></i>Green Card Holder</p>
          <hr>

          <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b></p>
          <p>Python</p>
          <!-- <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:90%">90%</div>
          </div> -->
          <p>AWS</p>
          <!-- <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:80%">
              <div class="w3-center w3-text-white">80%</div>
            </div>
          </div> -->
          <p>SQL</p>
          <!-- <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:75%">75%</div>
          </div> -->
          <p>HTML</p>
          <p>Azure</p>
          <p>Django</p>
          <p>JSON</p>
          <!-- <div class="w3-light-grey w3-round-xlarge w3-small">
            <div class="w3-container w3-center w3-round-xlarge w3-teal" style="width:50%">50%</div>
          </div> -->
          <br>

          <!-- <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b></p> -->
          <!-- <p>English</p> -->
          <!-- <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:100%"></div>
          </div> -->
          <!-- <p>Hindi</p> -->
          <!-- <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:55%"></div>
          </div> -->
          <!-- <p>Telugu</p> -->
          <!-- <div class="w3-light-grey w3-round-xlarge">
            <div class="w3-round-xlarge w3-teal" style="height:24px;width:25%"></div>
          </div> -->
          <br>
        </div>
      </div><br>

    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Technical Lead / LTIMindtree Ltd.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2022 -  <span class="w3-tag w3-teal w3-round">Current</span></h6>
          <p>Led a team of developers and delivered Profile Manager for agents belonging to different brands<br>
            Played a primary role in analyzing the architecture design from scratch<br>
            Build lambdas to write the payload to source systems using AWS Kinesis Proxy<br>
            Directed efforts to identify technical dependencies and mitigate risks<br>
            Communicate with multiple teams on technical issues/requirements especially APIs<br>
            Responsible for new workload architecture design and review<br>
            Ensure production build is deployed, code reviews, and provide KT's for new beginners<br></p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Python & AWS Developer / Euclid Elementz Inc.</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>June 2017 - Feb 2022</h6>
          <p>Build and Develop Models for PostgreSQL DDLs in Python<br>
             Parsing through XML CLOB content using various Python libraries such as cElementTree and extracting the data for populating<br>
             Build Lambda and Glue jobs to run a full load at once<br>
             Build lambdas to create, update cloudwatch rules based on the user-defined request<br>
             Run the EMR cluster in dev and test environment using zeppelin notebook<br>
             Optimized Code for better performance in Glue/Lambda which saved up to 10 mins of execution time per table.<br>
            </p>
          <hr>
        </div>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Computer Sciences Corporation / Associate Product Developer</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Dec 2013 - Jan 2016</h6>
          <p>Responsible for Retrieving data using SQL/Hive Queries from the CyberLife database and perform Analysis enhancements<br>
            Used R, SAS and SQL to manipulate data, and develop and validate quantitative models<br>
            Worked as a Compliance Team Member and undertook user stories (tasks) with critical deadlines in Agile Environment<br>
            Involved in Analyzing system failures, identifying root causes, and recommended course of actions<br>
            Coded, tested, debugged, implemented and documented data using Python and R<br>
            Responsible for Testing and Modelling the data in order to migrate it to production environment<br>
            Experience in retrieving unstructured data from different sites such as in html, xml format<br>
            Make sure that all the requirements are gathered before working on the data and collecting valuable information from the client<br>
            Provided training to Beginners regarding the CyberLife system and other basics<br>
            Actively involved in Analysis, Development and Unit testing of the data and delivery assurance of the user story in Agile Environment<br></p><br>
        </div>
      </div>

      <div class="w3-container w3-card w3-white">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
        <div class="w3-container">
          <h5 class="w3-opacity"><b>Indiana State University</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>01/2016 - 05/2017</h6>
          <p>Masters in Computer Science</p>
        </div>
      </div>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<!-- Footer. This section contains an ad for W3Schools Spaces. You can leave it to support us. -->
<footer class="w3-container w3-teal w3-center w3-margin-top">
  <p>Find me on social media.</p>
  <i class="fa fa-linkedin w3-hover-opacity" target="https://www.linkedin.com/in/tulsidas-chelmella-056732168/"></i>
 <!-- <p class="w3-small">This website was made with W3schools Spaces. Make your own free website today!</p> -->
 <!-- <a class="w3-button w3-round-xxlarge w3-small w3-light-grey w3-margin-bottom" href="https://www.w3schools.com/spaces" target="_blank">Start now</a> -->
 </footer>

</body>
</html>
